<main>
  <section>Секція</section>
  <section>Секція</section>
  <section>Секція</section>
  <section>Секція</section>
  <section>Секція</section>
  <section>Секція</section>
  <button id='buttonScroll'>
    <img src='/svg/arrow-up.svg' />
  </button>
</main>