<main>
  <nav class='nav'>
    <button class='nav_button' id='back'>
      <img src='/svg/arrow-left.svg' />
    </button>
    <button class='nav_button' id='forward'>
      <img src='/svg/arrow-right.svg' />
    </button>
    <button class='nav_button' id='reload'>
      <img src='/svg/reset.svg' />
    </button>
    <button class='nav_button' id='home'>
      <img src='/svg/home.svg' />
    </button>
    <input type='text' class='nav__input' id='input' />
    <button class='nav_button' id='go'>
      <img src=' /svg/triangle.svg' />
    </button>
  </nav>
</main>